.vp-wrapper {
    width: 800px;
    height: 600px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.vp-container {
    flex-grow: 1;
}
.vp-controllers {
    display: flex;
    background-color: black;
    align-items: center;
}
.progress-bar{
    flex-grow: 1;
}
.player-button {
    background-color: transparent;
    border-style: none;
    color: white;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    font-size: 20px;
}
